.card {
    background-color: violet;
    width: 500px;
    height: fit-content;
    border-radius: 25px;
    border: solid 5px black;
    margin-bottom: 20px;
}
.borderYellow{
    border: solid 5px yellow
}

.box {
    width: 100px;
    height: 100px;
    /*para manter a proporção da imagem inserir apenas uma medida*/
    background-image: url('https://cdn-icons-png.flaticon.com/512/706/706830.png');
    background-size: cover;
}
.mainColor{
    color: blue;
}